# Importing library pandas to work with Dataframe

In [1]:
import pandas as pd

From the html page of Wikipedia, the table data with pandas into dataframe

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
the_table = pd.read_html(url,header=1)[0]
df = pd.DataFrame(the_table)
df.columns = ["Postalcode","Borough","Neighbourhood"]
print(df.shape)
df.head()

(287, 3)

  Postalcode           Borough     Neighbourhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M5A  Downtown Toronto       Regent Park

Modifying the table to remove rows with Not assigned value

In [3]:
removingRows = df[df["Borough"]=="Not assigned"].index
df.drop(removingRows,inplace=True)
df.shape

(211, 3)

In [8]:
neighbourhoodOut = df[df["Neighbourhood"]=="Not assigned"].index
df.loc[neighbourhoodOut,"Neighbourhood"] = df.loc[noNeighbourhood,"Borough"]
df.loc[noNeighbourhood,"Neighbourhood"]

7    Queen's Park
Name: Neighbourhood, dtype: object

Checking the dataframe by Postalcodes

In [9]:
df = df.groupby(["Postalcode","Borough"]).agg({'Neighbourhood':', '.join})
df

                                                            Neighbourhood
Postalcode Borough
M1B        Scarborough                                     Rouge, Malvern
M1C        Scarborough             Highland Creek, Rouge Hill, Port Union
M1E        Scarborough                  Guildwood, Morningside, West Hill
M1G        Scarborough                                             Woburn
M1H        Scarborough                                          Cedarbrae
...                                                                   ...
M9N        York                                                    Weston
M9P        Etobicoke                                            Westmount
M9R        Etobicoke    Kingsview Village, Martin Grove Gardens, Richv...
M9V        Etobicoke    Albion Gardens, Beaumond Heights, Humbergate, ...
M9W        Etobicoke                                            Northwest

[103 rows x 1 columns]

In [10]:
df.shape

(103, 1)